# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist
/out
/package
# อาจจะมี path อื่นๆ ที่เกิดจากการ build เช่น /public/build หรือ /public/dist

# misc
.DS_Store
.env
.env.local
.env.*.local
.eslintcache
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea
.vscode/ # ถ้าไม่ต้องการรวม .vscode ที่เฉพาะเจาะจงกับ client